#app {
  .main-container {
    margin-left: $sidebarWidth;
    min-height: 100%;
    transition:  margin-left .28s;
    position: relative;
  }
  .sidebar-container {
    width: $sidebarWidth;
    height: 100%;
    background: $menuBg;
    transition: width .28s;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1001;
    font-size: 0;
    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }
    .el-scrollbar__bar .is-vertical {
      right: 0;
    }
    .el-scrollbar {
      height: 100%;
    }
    &.has-logo {
      .el-scrollbar { 
        height: calc(100% - 50px);
      }
    }
    .is-horizontal {
      display: none;
    }
    .svg-icon {
      margin-right: 16px;
    }
    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }
    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }
    & .nest-menu .el-submenu>.el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sidebarWidth !important;
      background: $subMenuBg !important;
      &:hover {
        background:  $subMenuHover !important;
      }
    }
  }
  .hideSidebar {
    .sidebar-container {
      width: 54px;
    }
    .main-container {
      margin-left: 54px;
    }
    .el-submenu {
      overflow: hidden;
      &> .el-submenu__title {
        padding: 0 !important;
      }
      .svg-icon {
        margin-left: 20px;
      }
      .sub-el-icon {
        margin-left: 19px;
      }
      .el-submenu__icon-arrow {
        display: none;
      }
    }
    .el-menu--collapse {
      .el-submenu {
        &> .el-submenu__title {
          &> span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }
  .mobile {
    .main-container {
      margin-left: 0;
    }
    .sidebar-container {
      transition: transform .28s;
      width: $sidebarWidth !important;
    }
    &.hideSidebar {
      .sidebar-container {
        transform: translate3d(-$sidebarWidth, 0, 0);
        transition-duration: 0.3s;
      }
    }
  }
  .withoutAnimation {
    .main-container, .sidebar-container {
      transition: none;
    }
  }
}
// 侧边栏折叠后的样式
.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 16px;
    }
    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }
  }
}